.sidenav {
    float: left;
    height: 100%;
    width: 17%;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .topnav {
    left: 20px ;
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
main {
    float: right;
    padding: 15px;
    width: 80%;
} 